[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docx = "==0.2.4"
moviepy = "==1.0.3"
pytube = "==11.0.1"
speechrecognition = "*"
autopep8 = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.9"
